@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css");
@import url("https://nyri4.github.io/Discolored/main.css");



/* Old HypeSquad */
img[src$="9f00b18e292e10fc0ae84ff5332e8b0b.svg"],img[src$="ec8e92568a7c8f19a052ef42f862ff18.svg"],img[src$="efcc751513ec434ea4275ecda4f61136.svg"] { 
      content:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZiYjg0OCIgZD0ibTIxLjU5MSA1LjMxOC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOTh6Ii8+PC9zdmc+");
}

/* New Pinned SVG */
path[d='M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z'] {
      d:path('M21.2,8.77l-.56.55a.53.53,0,0,1-.75,0l-.43-.43-3.61,5.22.36.35a.54.54,0,0,1,0,.76l-.56.55a.53.53,0,0,1-.75,0l-2.69-2.69L3,21.31c-.15.14-.42-.13-.28-.28l8.23-9.24L8.23,9.1a.53.53,0,0,1,0-.75l.55-.56a.54.54,0,0,1,.76,0l.35.36,5.22-3.61-.43-.43a.53.53,0,0,1,0-.75l.55-.56a.56.56,0,0,1,.76,0L21.2,8A.56.56,0,0,1,21.2,8.77Z');
} 

/* Log Out Icon */
path[d="M18 2H7C5.897 2 5 2.898 5 4V11H12.59L10.293 8.708L11.706 7.292L16.414 11.991L11.708 16.706L10.292 15.294L12.582 13H5V20C5 21.103 5.897 22 7 22H18C19.103 22 20 21.103 20 20V4C20 2.898 19.103 2 18 2Z"] {
      d: path("M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H23.55V9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39H23.55V42ZM33.3 32.75 31.15 30.6 36.25 25.5H18.75V22.5H36.15L31.05 17.4L33.2 15.25L42 24.05Z");
      transform: scale(.55, .55);
}

/* Remove New Member Badge */
[class^="newMemberBadge-"] {
      display:none;
}

/* Remove New Nitro icon */
div[class*="premiumLabel-"] > svg {
      display: none;
}

/* Hide "Public" ServerTag */
.communityInfoContainer-1dMVpU {
      display: none;
}

/* Remove "Use Slash Command" in media selector */
#channel-attach-SLASH_COMMAND {
      display: none
}

/* Remove RadialStatus Branding */
#app-mount .info-3pQQBb .line-18uChy:last-child:after {
      display:none !important;
}

/* Wider search results section */
.searchResultsWrap-5RVOkx {
      width: 500px; }

/* Re-Squircle Spotify Activity */
.assetsLargeImageSpotify-17ME3M {
      border-radius:8px;
}

/* Fix Pinned Messages Popout */
.messagesPopoutWrap-3zryHW {
      max-height:70vh !important;
      width:30vw;
}

/* Recolor Thread Spine */
.spine-29OFwR {
      color: rgb(255, 255, 255) !important; 
}

/* Nicer Connected Accounts Section */
.connectedAccount-1xKpli {
      background-color: var(--background-tertiary);
      border: 0 !important;
}

/* Yellow Passthrough Permissions Tick */
.passthrough--fbdFR.selected-3jieYB {
      background-color: #faa61a;
}

.passthrough--fbdFR:not(.selected-3jieYB) {
      color: #faa61a;
}

/* Revert new Nitro color */
.premiumLabel-3HPvdB {
      color: #7289da;
}
.premiumLabel-3HPvdB.selected-2Uns2B {
      color: #fffbfc;
}

/* Make ColorBanners Height = NitroBanners */
.popoutBanner-3cqRD9 {
      height: 120px;
}
.profileBanner-1owKI5 {
      height: 240px;
}
.avatarPositionNormal-2jWoC2 {
      top: 76px;
}

/* Fix Windows Branding */
.info-3pQQBb > span:nth-child(3n) {
      width: 0;
      height: 0;
      font-size: 0;
}
 .info-3pQQBb > span:nth-child(3n)::before {
      content: 'Windows 11 64-bit';
      color: var(--text-muted);
      white-space: pre;
      text-transform: none;
      font-family: var(--font-primary);
      font-size: 12px;
}

/* Mobile Server Settings Icon */
.button-2BMPJJ {
      opacity: 1;
      position: relative;
      top: 0px;
      width: 18px;
      height: 18px;
      background-color: var(--interactive-normal);
      transform: rotate(90deg);
      -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNSIgd2lkdGg9IjQiIGhlaWdodD0iNCIgcng9IjIiIGZpbGw9IiNEOUQ5RDkiLz4KPHJlY3QgeD0iNSIgeT0iNSIgd2lkdGg9IjQiIGhlaWdodD0iNCIgcng9IjIiIGZpbGw9IiNEOUQ5RDkiLz4KPHJlY3QgeD0iMTAiIHk9IjUiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHJ4PSIyIiBmaWxsPSIjRDlEOUQ5Ii8+Cjwvc3ZnPgo=);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
}
.button-2BMPJJ path {
      display: none;
}
.button-2BMPJJ.open-3fGK6o {
      transform: rotate(90deg);
}

/* Revert Essence GuildsList Nav Buttons */
#app-mount .scroller-3X7KbA {
      contain: layout size;
      margin-bottom: unset;
}
#app-mount .scroller-3X7KbA .guildSeparator-a4uisj::after {
      content: none;
}
#app-mount .scroller-3X7KbA .tutorialContainer-2jwoiB {
      position: relative;
      bottom: unset;
}
  #app-mount .scroller-3X7KbA .tutorialContainer-2jwoiB ~ .listItem-3SmSlK {
      position: relative;
      bottom: unset;
}

/* Fix Settings Headers */
.side-2ur1Qk .header-2Kx1US, .side-2ur1Qk .item-3XjbnG {
      padding: 5px 10px;
      margin: 0 0 2px 0;
}
.header-2Kx1US {
      font-size: 13px;
      font-weight: 600;
      line-height: 15px;
      text-transform: none;
      color: #fff;
      border-bottom: 2px dashed rgba(var(--AccentColor), 0.75);
}
.sidebar-nqHbhN {
      width: 250px;
      padding: 25px 5px 20px 5px;
}

/* Settings Width */
.contentColumnDefault-3eyv5o {
      padding: 25px;
}
.contentColumn-1C7as6, .customColumn-2n-oKU {
      max-width: 750px;
      min-width: 450px;
}
.h1-34Txb0 {
      border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.defaultMarginh1-EURXsm, .defaultMarginh2-t7G-2y {
      margin-bottom: 5px;
}

/* Horizontally listed media 
[id*="message-accessories-"] {
      display: flex;
      flex-wrap: wrap;
}
[id*="message-accessories-"] > * {
      margin-right: .4em !important;
      min-height: 100% !important;
}
[id*="message-accessories-"] > div > a {
      display: flex;
      align-items: center;
      min-height: 100%;
      background-color: var(--background-secondary);
}
[id*="message-reactions"] {
      width: 100%;
} */
