@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css");
@import url("https://aenoo.github.io/Discordicons/src/main.css");
@import url("https://nyri4.github.io/Discolored/main.css");

/* Old HypeSquad */
img[src$="9f00b18e292e10fc0ae84ff5332e8b0b.svg"],
img[src$="ec8e92568a7c8f19a052ef42f862ff18.svg"],
img[src$="efcc751513ec434ea4275ecda4f61136.svg"] {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZiYjg0OCIgZD0ibTIxLjU5MSA1LjMxOC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOTh6Ii8+PC9zdmc+");
}
/* Iconsax Crown/Home Icon */
[d="M13.6572 5.42868C13.8879 5.29002 14.1806 5.30402 14.3973 5.46468C14.6133 5.62602 14.7119 5.90068 14.6473 6.16202L13.3139 11.4954C13.2393 11.7927 12.9726 12.0007 12.6666 12.0007H3.33325C3.02725 12.0007 2.76058 11.792 2.68592 11.4954L1.35258 6.16202C1.28792 5.90068 1.38658 5.62602 1.60258 5.46468C1.81992 5.30468 2.11192 5.29068 2.34325 5.42868L5.13192 7.10202L7.44592 3.63068C7.46173 3.60697 7.48377 3.5913 7.50588 3.57559C7.5192 3.56612 7.53255 3.55663 7.54458 3.54535L6.90258 2.90268C6.77325 2.77335 6.77325 2.56068 6.90258 2.43135L7.76458 1.56935C7.89392 1.44002 8.10658 1.44002 8.23592 1.56935L9.09792 2.43135C9.22725 2.56068 9.22725 2.77335 9.09792 2.90268L8.45592 3.54535C8.46794 3.55686 8.48154 3.56651 8.49516 3.57618C8.51703 3.5917 8.53897 3.60727 8.55458 3.63068L10.8686 7.10202L13.6572 5.42868ZM2.66667 12.6673H13.3333V14.0007H2.66667V12.6673Z"] {
  d: path(
    "M2 15.29V5.71002C2 4.38002 2.77 4.06002 3.71 5.00002L6.3 7.59002C6.69 7.98002 7.33 7.98002 7.71 7.59002L11.29 4.00002C11.68 3.61002 12.32 3.61002 12.7 4.00002L16.29 7.59002C16.68 7.98002 17.32 7.98002 17.7 7.59002L20.29 5.00002C21.23 4.06002 22 4.38002 22 5.71002V15.3C22 18.3 20 20.3 17 20.3H7C4.24 20.29 2 18.05 2 15.29Z"
  );
  transform: scale(0.7) translate(-2px, -2px) !important;
}
.tutorialContainer-1pL9QS .homeIcon-r0w4ny path {
  d: path(
    "M17.25 10.18V12.81C17.25 12.98 17.24 13.14 17.22 13.3C17.07 15.07 16.02 15.95 14.1 15.95H13.84C13.68 15.95 13.52 16.03 13.42 16.16L12.63 17.21C12.28 17.68 11.72 17.68 11.37 17.21L10.58 16.16C10.49 16.05 10.3 15.95 10.16 15.95H9.89999C7.79999 15.95 6.75 15.43 6.75 12.8V10.17C6.75 8.25004 7.63999 7.20002 9.39999 7.05002C9.55999 7.03002 9.72001 7.02002 9.89001 7.02002H14.09C16.2 7.04002 17.25 8.09002 17.25 10.18Z"
  );
  transform-origin: center;
  transform: scale(2) translate(2px, -2px);
}
/* New Pinned Icon */
path[d="M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z"] {
  d: path(
    "M21.2,8.77l-.56.55a.53.53,0,0,1-.75,0l-.43-.43-3.61,5.22.36.35a.54.54,0,0,1,0,.76l-.56.55a.53.53,0,0,1-.75,0l-2.69-2.69L3,21.31c-.15.14-.42-.13-.28-.28l8.23-9.24L8.23,9.1a.53.53,0,0,1,0-.75l.55-.56a.54.54,0,0,1,.76,0l.35.36,5.22-3.61-.43-.43a.53.53,0,0,1,0-.75l.55-.56a.56.56,0,0,1,.76,0L21.2,8A.56.56,0,0,1,21.2,8.77Z"
  );
}
/* Remove New Member Badge */
[class^="newMemberBadge-"] {
  display: none;
}
/* Remove RadialStatus Branding */
#app-mount .info-3pQQBb .line-18uChy:last-child:after {
  display: none !important;
}
/* Wider search results section */
.searchResultsWrap-5RVOkx {
  width: 500px;
}
/* Re-Squircle Spotify Activity */
.assetsLargeImageSpotify-17ME3M {
  border-radius: 8px;
}
/* Fix Pinned Messages Popout */
.messagesPopoutWrap-3zryHW {
  max-height: 70vh !important;
  width: 30vw;
}
/* Blurple Verified */
.verified-1Jv_7P {
  color: var(--brand-experiment);
}
/* White DM/Channel Header/Thread Spine */
.theme-dark .headerText-1qIDDT,
.name-3BUDLf,
.spine-29OFwR {
  color: #fff;
}
/* Yellow Passthrough Permissions Tick */
.passthrough--fbdFR.selected-3jieYB {
  background-color: #faa61a;
}
.passthrough--fbdFR:not(.selected-3jieYB) {
  color: #faa61a;
}
/* Make ColorBanners Height = NitroBanners */
.popoutBanner-3cqRD9 {
  height: 120px;
}
.profileBanner-1owKI5 {
  height: 240px;
}
.avatarPositionNormal-2jWoC2 {
  top: 76px;
}
/* Nicer Connected Accounts Section */
.connectedAccount-1xKpli {
  background-color: var(--background-tertiary);
  border: 0 !important;
}
.connectedAccountNameText-2m46Qn {
  font-weight: 500;
}
.connectedAccountIcon-1FXG0p {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}
/* Fix Windows Branding */
.info-3pQQBb > span:nth-child(3n) {
  width: 0;
  height: 0;
  font-size: 0;
}
.info-3pQQBb > span:nth-child(3n)::before {
  content: "Windows 11 64-bit";
  color: var(--text-muted);
  white-space: pre;
  text-transform: none;
  font-family: var(--font-primary);
  font-size: 12px;
}
/* Mobile Server Settings Icon */
.button-2BMPJJ {
  opacity: 1;
  position: relative;
  top: 0px;
  width: 18px;
  height: 18px;
  background-color: var(--interactive-normal);
  transform: rotate(90deg);
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeT0iNSIgd2lkdGg9IjQiIGhlaWdodD0iNCIgcng9IjIiIGZpbGw9IiNEOUQ5RDkiLz4KPHJlY3QgeD0iNSIgeT0iNSIgd2lkdGg9IjQiIGhlaWdodD0iNCIgcng9IjIiIGZpbGw9IiNEOUQ5RDkiLz4KPHJlY3QgeD0iMTAiIHk9IjUiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHJ4PSIyIiBmaWxsPSIjRDlEOUQ5Ii8+Cjwvc3ZnPgo=);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.button-2BMPJJ path {
  display: none;
}
.button-2BMPJJ.open-3fGK6o {
  transform: rotate(90deg);
}
/* Revert Essence GuildsList Nav Buttons */
#app-mount .scroller-3X7KbA {
  contain: layout size !important;
  margin-bottom: unset !important;
}
#app-mount .scroller-3X7KbA .guildSeparator-a4uisj::after {
  content: none !important;
}
#app-mount .scroller-3X7KbA .tutorialContainer-2jwoiB {
  position: relative !important;
  bottom: unset !important;
}
#app-mount .scroller-3X7KbA .tutorialContainer-2jwoiB ~ .listItem-3SmSlK {
  position: relative !important;
  bottom: unset !important;
}
/* Fix Settings Headers */
.side-2ur1Qk .header-2Kx1US,
.side-2ur1Qk .item-3XjbnG {
  padding: 5px 10px;
  margin: 0 0 2px 0;
}
.header-2Kx1US {
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  text-transform: none;
  color: #fff;
}
.sidebar-nqHbhN {
  width: 250px;
  padding: 25px 5px 20px 5px;
}
/* Settings Width */
.contentColumn-1C7as6,
.customColumn-2n-oKU {
  max-width: 750px;
  min-width: 450px;
}
.h1-34Txb0 {
  border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.defaultMarginh1-EURXsm,
.defaultMarginh2-t7G-2y {
  margin-bottom: 5px;
}
