/**
*
 * @name X
 * @author lucii
 * @version 3.0.0
 * @description X

*/

@import url("https://discord-modifications.github.io/dark-discord/src/source.css"); 
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css");



/* Fix Settings Headers */
.side-2ur1Qk .header-2Kx1US, .side-2ur1Qk .item-3XjbnG {
		padding: 5px 10px;
		margin: 0 0 2px 0;
}
.header-2Kx1US {
		font-size: 13px;
		font-weight: 600;
		line-height: 15px;
		text-transform: none;
		color: #fff;
		border-bottom: 2px dashed rgba(var(--AccentColor), 0.75);
}
.sidebar-nqHbhN {
		width: 250px;
		padding: 25px 5px 20px 5px;
}

/* Settings Width */
.contentColumnDefault-3eyv5o {
		padding: 25px;
}
.contentColumn-1C7as6, .customColumn-2n-oKU {
		max-width: 750px;
		min-width: 450px;
}
.h1-34Txb0 {
		border-bottom: 2px dashed rgba(var(--AccentColor), 1);
}
.defaultMarginh1-EURXsm, .defaultMarginh2-t7G-2y {
		margin-bottom: 5px;
}

/* shhhh */
/* MLV2 Background 
.theme-dark .footer-31IekZ, .content-2hZxGK, .header-1zd7se {
background-color: #141414 !important;
} */

/* Clean Status Picker */
.description-3Cwkxk {
display: none;
}
.separator-1So4YB {
display: none;
}

/* New Pinned SVG */
path[d='M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z'] {
    d:path('M21.2,8.77l-.56.55a.53.53,0,0,1-.75,0l-.43-.43-3.61,5.22.36.35a.54.54,0,0,1,0,.76l-.56.55a.53.53,0,0,1-.75,0l-2.69-2.69L3,21.31c-.15.14-.42-.13-.28-.28l8.23-9.24L8.23,9.1a.53.53,0,0,1,0-.75l.55-.56a.54.54,0,0,1,.76,0l.35.36,5.22-3.61-.43-.43a.53.53,0,0,1,0-.75l.55-.56a.56.56,0,0,1,.76,0L21.2,8A.56.56,0,0,1,21.2,8.77Z');
}

/* Fix Pinned Messages Popout */
.messagesPopoutWrap-3zryHW{
  max-height:70vh !important;
  width:30vw;
}

/* Remove "Use Slash Command" in media selector" */
#channel-attach-SLASH_COMMAND {
    display: none
}

/* Recolor Thread Spine */
.spine-29OFwR {
  color: rgb(255, 255, 255) !important; 
}

/* Old HypeSquad */
img[src$="9f00b18e292e10fc0ae84ff5332e8b0b.svg"],img[src$="ec8e92568a7c8f19a052ef42f862ff18.svg"],img[src$="efcc751513ec434ea4275ecda4f61136.svg"]{content:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZiYjg0OCIgZD0ibTIxLjU5MSA1LjMxOC03Ljg3IDUuMTY2YS45MTQuOTE0IDAgMCAwLS4zMTYuMzU0bC0xLjIgMi40MDVhLjIyNC4yMjQgMCAwIDEtLjQxIDBsLTEuMi0yLjQwNWEuOTE0LjkxNCAwIDAgMC0uMzE3LS4zNTRsLTcuODctNS4xNjZhLjIzMi4yMzIgMCAwIDAtLjM1NC4yOThsMy4yODkgNi4zOTdhLjIzNi4yMzYgMCAwIDEtLjE4LjMzNUgzLjE4NWEuMjMuMjMgMCAwIDAtLjEzNy40MTdsOC44MTQgNi4zMTVhLjI0My4yNDMgMCAwIDAgLjI3NCAwbDguODE0LTYuMzE1YS4yMy4yMyAwIDAgMC0uMTM3LS40MTdoLTEuOTc2YS4yMzcuMjM3IDAgMCAxLS4yMDYtLjMzNWwzLjMxNC02LjM5N2EuMjMyLjIzMiAwIDAgMC0uMzU1LS4yOTh6Ii8+PC9zdmc+");}

/* Fix Color Banners Height */
.popoutBanner-3cqRD9 {
    height: 120px;
}
.profileBanner-1owKI5 {
    height: 240px;
}
.avatarPositionNormal-2jWoC2 {
    top: 76px;
}

